.recipe {
  width: 100%;
  padding: 15px 0;
  position: relative;

  &__back {
    text-align: right;
    a {
      color: #222;
      background: none;
      border: none;
      display: block;
      position: sticky;
      top: 15px;
      svg {
        width: 35px;
      }
    }
  }
}
